@inherits LayoutComponentBase

<NavBar />

<div id="layoutSidenav">

    <SideNav />

    <div id="layoutSidenav_content">

        <main>
            <div class="container-fluid px-4">
                @Body
            </div>
        </main>

        <Footer />

    </div>
</div>

