<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Gerenciar Produtos</div>
                <NavLink class="nav-link" href="cadastrar-produtos">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Cadastrar Produtos
                </NavLink>
                <NavLink class="nav-link" href="consultar-produtos">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Consultar Produtos
                </NavLink>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Treinamento Blazor:</div>
            COTI Informática Jan/2023
        </div>
    </nav>
</div>