<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">
                <img src="@Foto" height="80" />
            </div>
            <div class="col-md-9">
                <h5>@Nome</h5>
                <p>@Descricao</p>
            </div>
        </div>
    </div>
</div>

@code {

    //parametros do componente
    [Parameter]
    public string? Foto { get; set; }

    [Parameter]
    public string? Nome { get; set; }

    [Parameter]
    public string? Descricao { get; set; }
}
